//   z-index: -1;
.nav {
  // height: 20vh;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 44, 44);
.logo img{
  height: 80px;
}
  .search {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 400px;
    // border: 2px solid blue;
    // border-radius: 14px;
    border-bottom: 2px solid #817f7f;
    #searchBar {
      width: 90%;
      color: #cacaca;
      font-size: 1rem;
      padding: 0 0.5rem .25rem .5rem;
      letter-spacing: 2px;
      background: transparent;
      border: none;
      outline: none;
    }
  }

  .icon {
    padding: 0 0.5rem 0 0.5rem;
    color: #fff;
    cursor: pointer;
  }
}
