.songlist{
    position: relative;
    padding: 2rem 5rem;
    cursor: pointer;
    display: flex;
    transition: .3s;
&:hover{
    background-color: #ccfff8;
}
    img{
        position: relative;
        height: 90px;
        margin-right: 1rem;
    }
    .info{
        background: transparent;
    }
}