@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
    margin: 0;
    padding: 0;
    // background-color: black;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
@import './songlist';
@import './player';
@import './nav';
h1,h2,h3{
    // color:rgb(209, 209, 209);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}